name: Push

on:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          go test hssh/providers
          go test hssh/cache
          go test hssh/cli
          go test hssh/sshuseragent
